@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-top: 40px;
    background: #e3f2fd;
    font-family: 'Roboto', sans-serif;
    gap: 20px;
}

.title {
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #293447;
    margin-bottom: 20px;
    text-align: center;
}

.wrapper {
    width: 65vmin;
    height: 70vmin;
    background: #293447;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.game-details {
    color: #b8c6dc;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.play-board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    background: #212837;
}

.play-board .food {
    background: #ff003d;
    border-radius: 50%;
}

.play-board .head {
    background: #60cbff;
    border-radius: 3px;
}

.play-board .body {
    background: #b0e0e6;
    border-radius: 2px;
}

.end{
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #293447;
    margin-bottom: 20px;
    text-align: center;
}